<html>
    <h2>Users:</h2><br>
    {% for data in user %}
        {{data}}<br>
    {% endfor %}<br><br>
    <h2>Playlist:</h2><br>
    {% for data in playlist %}
        {{data}}<br>
    {% endfor %}<br><br>
    <h2>Songs</h2>
    {% for dat in songs.all %}
   {% if dat.title is 'title' and dat.artist is 'artist' %}
   <b><p > {{ dat.title }}            {{ dat.artist }}</p> </b>
   {% endif %}
   <p > {{ dat.title }}&nbsp&nbsp->&nbsp&nbsp{{ dat.artist }}</p> 
{% endfor %}
</html>