<!DOCTYPE html>
<title>Playlist</title>
<style>
    .tab1 {
        tab-size: 8;
    }
</style>
<body>
    <h3>Playlist creation</h3>
    
   <form action="play">
    Enter user:         <input type="text" name='user'><br>
    Enter playlist name:<input type="text" name='playlist'> <br>
    songs:              <input type="text" name='songs'><br>
    <button>Click</button>
   </form>
   {% for dat in data.all %}
   {% if dat.title is 'title' and dat.artist is 'artist' %}
   <b><p > {{ dat.title }}            {{ dat.artist }}</p> </b>
   {% endif %}
   <p > {{ dat.title }}&nbsp&nbsp->&nbsp&nbsp{{ dat.artist }}</p> 
{% endfor %}
</body>
</html>